.monster-row {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    cursor: pointer;
}
.title {
    /*border: 1px solid black;*/
}
.statblock-section {
    margin: 5px;
}
.statblock-section:not(:Last-of-type){
    border-bottom: 1px solid #ccc;
}
.name {
    font-size: 1.4em;
    font-weight: bold;
}
.description {
    font-style: italic;
}
.monster-selected {
    border: 1px solid #ccc;
    margin: 5px;
    background-color: rgba(232,216,195, 0.3);
}
.section-title {
    font-size: 1.2em;
}
.monster-actions {
    width: 95%;
    margin: 0 auto;
}
.monster-action:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}
