.spell-row {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.title {
    /*border: 1px solid black;*/
}
.spell-section {
    margin: 5px;
}
.spell-section:not(:Last-of-type){
    border-bottom: 1px solid #ccc;
}
.name {
    font-size: 1.4em;
    font-weight: bold;
}
.description {
    font-style: italic;
}
.spell-selected {
    border: 1px solid #ccc;
    margin: 5px 0;
}
.section-title {
    font-size: 1.2em;
}