body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.body {
    margin-top: 188px;
}

div.content {
    width: 75%;
}
div.sidebar {
    width: 25%;
    position: relative;
}

div.menu {
    position: fixed;
    width: 100%;
    top:130px;
    left: 0px;
    margin-left: 0px; margin-right: 0px;
}

.column {
    padding: 0.5rem;
}

.tablehead {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

.field-label {
    font-weight: bold;
}